{% extends "Product/base.html" %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="float-left"><h1> Product List</h1></div>
<div class="float-right"><a href="{% url 'product_create' %}" class="btn btn-primary ">Add Product</a></div>
<br>
<table class="table">
    <thead>
    <tr>
        <th>SN</th>
        <th>Title</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Author</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{product.title}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.price}}</td>
        <td>{{product.author}}</td>
        <td>
            <a href="{% url 'product_details' product.id %}" class="btn btn-info">View</a>
            <a href="{% url 'product_update' product.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'product_delete' product.id %}" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}